# Python Virtual Environment
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc

# Large Source Data Files (Locally Generated)
data/processed_movies.json

# Local CSV data files (extracted automatically, no need to push)
data/tmdb_5000_movies.csv
data/tmdb_5000_credits.csv

# Vector stores
vector_store/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
